* {
  padding: 0;
  margin: 0;
}

:root {
  --cor-halftone: #cccccc;
  --cor-text-dark: #000000;
  --cor-text-light: #ffffff;
  --cor-elements-background-light: #aaaaaa;
  --cor-elements-background-coffe: #633928;
  --cor-elements-background-dark: #343434;
  --cor-sections-background: #181818;
  --cor-destaque: #B41A1F;
  /* STUB - concertar a box shadowm de todas as divs */
  --fonte-primaria: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 767px) {

  #tableCEO td {
    font-size: 20px;
  }

  #tableCEO img {
    width: 140%;
  }

  .tablep {
    font-size: 185%;
  }

  #divSloganEmpresa h4 {
    font-size: 15px;
  }

  #divSloganEmpresa {
    height: 10%;
  }
}

/* SECTION - PRE LOADER DA PAGINA */
.preLoad {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.container {
  width: 19.5vw;
  height: 280px;
  position: relative;
  top: 20vh;
}

.container img {
  position: relative;
  width: 15%;
  z-index: 2;
  left: 44%;
  top: 69.5%;
}

.coffee-header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddcfcc;
  border-radius: 10px;
}

.coffee-header__buttons {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  background-color: #282323;
  border-radius: 50%;
}

.coffee-header__buttons::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 4px);
  background-color: #615e5e;
}

.coffee-header__button-one {
  left: 15px;
}

.coffee-header__button-two {
  left: 50px;
}

.coffee-header__display {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: 50%;
  background-color: #9acfc5;
  border: 5px solid #43beae;
  box-sizing: border-box;
}

.coffee-header__details {
  width: 8px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #9b9091;
  box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
}

.coffee-medium {
  width: 90%;
  height: 160px;
  position: absolute;
  top: 80px;
  left: calc(50% - 45%);
  background-color: #bcb0af;
}

.coffee-medium:before {
  content: "";
  width: 90%;
  height: 100px;
  background-color: #776f6e;
  position: absolute;
  bottom: 0;
  left: calc(50% - 45%);
  border-radius: 20px 20px 0 0;
}

.coffe-medium__exit {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  background-color: #231f20;
}

.coffe-medium__exit::before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
  background-color: #231f20;
}

.coffe-medium__exit::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 5px);
  background-color: #231f20;
}

.coffee-medium__arm {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 25px;
  background-color: #231f20;
}

.coffee-medium__arm::before {
  content: "";
  width: 15px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #9e9495;
}

.coffee-medium__cup {
  width: 80px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  background-color: var(--cor-text-light);
  border-radius: 0 0 70px 70px / 0 0 110px 110px;
}

.coffee-medium__cup::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: -13px;
  border: 5px solid var(--cor-text-light);
  border-radius: 50%;
}

@keyframes liquid {
  0% {
    height: 0;
    opacity: 1;
  }

  5% {
    height: 0;
    opacity: 1;
  }

  20% {
    height: 62px;
    opacity: 1;
  }

  95% {
    height: 62px;
    opacity: 1;
  }

  100% {
    height: 62px;
    opacity: 0;
  }
}

.coffee-medium__liquid {
  width: 6px;
  height: 63px;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: calc(50% - 3px);
  background-color: #74372b;
  animation: liquid 4s 4s linear infinite;
}

.coffee-medium__smoke {
  width: 8px;
  height: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: #b3aeae;
}

@keyframes smokeOne {
  0% {
    bottom: 20px;
    opacity: 0;
  }

  40% {
    bottom: 50px;
    opacity: .5;
  }

  80% {
    bottom: 80px;
    opacity: .3;
  }

  100% {
    bottom: 80px;
    opacity: 0;
  }
}

@keyframes smokeTwo {
  0% {
    bottom: 40px;
    opacity: 0;
  }

  40% {
    bottom: 70px;
    opacity: .5;
  }

  80% {
    bottom: 80px;
    opacity: .3;
  }

  100% {
    bottom: 80px;
    opacity: 0;
  }
}

.coffee-medium__smoke-one {
  opacity: 0;
  bottom: 50px;
  left: 102px;
  animation: smokeOne 3s 4s linear infinite;
}

.coffee-medium__smoke-two {
  opacity: 0;
  bottom: 70px;
  left: 118px;
  animation: smokeTwo 3s 5s linear infinite;
}

.coffee-medium__smoke-three {
  opacity: 0;
  bottom: 65px;
  right: 118px;
  animation: smokeTwo 3s 6s linear infinite;
}

.coffee-medium__smoke-for {
  opacity: 0;
  bottom: 50px;
  right: 102px;
  animation: smokeOne 3s 5s linear infinite;
}

.coffee-footer {
  width: 95%;
  height: 15px;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 47.5%);
  background-color: #41bdad;
  border-radius: 10px;
}

.coffee-footer::after {
  content: "";
  width: 106%;
  height: 26px;
  position: absolute;
  bottom: -25px;
  left: -8px;
  background-color: var(--cor-text-dark);
}

.loader {
  background-color: transparent;
  scale: 2;
  z-index: 0;
  margin-top: 15vw;
}

.loader2 {
  background-color: transparent;
  scale: 4;
  z-index: 0;
  margin-top: 8vh;
}

.c {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.a1 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.4s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.r1 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.6s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.r2 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.8s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.e {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.g {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.a2 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.4s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.n {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.6s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.d {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.8s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.o {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.d1 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 2.2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.d2 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 2.4s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.d3 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 2.6s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.null {
  color: transparent;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 2.6s;
  letter-spacing: 0.5em;
}

@keyframes pass {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*!SECTION - PRE LOADER DA PAGINA */

/* SECTION - Definições gerais na pagina */
body {}

main {
  display: none;
  position: relative;
  background: #707070;
  z-index: -1;
  height: 810vh;
}

section {
  background-color: var(--cor-sections-background);
  font-family: var(--fonte-primaria);
  color: var(--cor-text-light);
  z-index: 1;
  position:sticky;
}

a {
  text-decoration: none;
}

p {
  color: var(--cor-text-light);
}

h2 {
  color: var(--cor-text-light);
}

.sobreposta {
  transform: translateY(-30vh);
}

/* !SECTION - Definições gerais nas SECTIONS */

/* SECTION - HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 3;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--fonte-primaria);
  background: #23232e;
  height: 8vh;
  position: sticky;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  opacity: 0.7;
}

nav .logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: flex;
  gap: 1vw;
}

#logoNav {
  width: 2vw;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.imagemPrincipal {
  object-fit: cover;
  z-index: 0;
  width: 100%;
  background: linear-gradient(180deg, #23232E 0%, #764027 100%);
  position: sticky;
  top: 0;
}

/* !SECTION - HEADER */

/* SECTION - SECTION 2 */
#section2 {
  border-radius: 4.5vw 4.5vw 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14vh;
  height: 130vh;
}

#divSloganEmpresa {
  background-color: #764027;
  border-radius: 1vh;
  font-size: 1.9vw;
  font-family: var(--fonte-primaria);
  padding: 1vw;
  color: var(--cor-text-light);
  margin-top: 6vh;
}

#divSection2 {
  display: flex;
  gap: 8vh;
  flex-direction: column;
}

#divequipe {
  /* NOTE - Texto e foto da equipe */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6vw;
}

#palavraBiblica {
  width: 40vw;
}

#txtEquipe {
  display: flex;
  font-size: 3vw;
  font-family: var(--fonte-primaria);
  justify-content: flex-start;
  width: 45vw;
}

#referencia {
  display: flex;
  justify-content: flex-end;
  font-family: var(--fonte-primaria);
  width: 39vw;
  font-size: 1.5vw;
}

#imagemPolaroid {
  background: var(--cor-text-light);
  padding: 1vw 1vw 2vw;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .5s linear;
  box-shadow: 0 0 34px #2B2A28;
}

#imagemPolaroid:hover {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  transform: scale(1.08);
}

#rodapePolaroid {
  color: var(--cor-text-dark);
  font-size: 1.55vw;
  position: relative;
  top: 0.5vw;
  user-select: none;
  font-family: var(--fonte-primaria);
}


#imagemEquipe {
  cursor: pointer;
  width: 35vw;
  border-radius: 2%;
}

#divVMO {
  display: flex;
  gap: 4vh;
  justify-content: space-evenly;
}

.vmo {
  /* NOTE - class VMO = São as div Valores, missão, objetivos */
  width: 25vw;
  height: 20vh;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 0.5vw;
  align-items: center;
  background-color: var(--cor-elements-background-coffe);
  margin-bottom: 30vh;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  font-weight: bold;
}

.vmo:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--cor-text-dark);
}

.tablep {
  font-size: 1.5vw;
  font-family: var(--fonte-secundaria);
  font-weight: bold;
}

/* !SECTION - SECTION 2 */

.teste{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50vh;
  color: var(--cor-text-light);
  background: #ffffff54;
  backdrop-filter: blur(1vh);
  -webkit-backdrop-filter: blur(1vh);
  transform: translateY(-30vh);
}

/* SECTION - SECTION 3 */
#section3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 90vh;
  gap: 5vw;
  color: var(--cor-text-light);
  transform: translateY(-30vh);
  padding-top: 11.9vh;
}

.parteSuperiorSection3 {
  display: flex;
  justify-content: center;
}

#atividadesSection3 {
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  margin-right: 5vw;
  font-family: var(--fonte-primaria);
}

#atividadesTotais {
  font-size: 1.3vw;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-family: var(--fonte-secundaria);
  gap: 7vw;
}

.blocoDeAtividades {
  display: flex;
  gap: 3vw;
}

.atividades {
  display: flex;
  gap: 1vw;
  align-items: center;
  width: 14.1vw;
  font-family: var(--fonte-primaria);
  font-weight: bold;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 17vw);
  grid-gap: 2vw;
  justify-content: center;
  margin-bottom: 30vh;
}

.grid-item {
  border: 0.1vw solid var(--cor-halftone);
  overflow: hidden;
  width: 17vw;
  /* height: 30vh; */
  border-radius: 0.5vw;
}

.imagens {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1vw;
  border-color: var(--cor-text-dark);
}

/* !SECTION - SECTION 3 */

/* SECTION - SECTION 4 */
#section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-30.1vh);
}

.titulo {
  text-align: center;
  color: var(--cor-text-light);
  font-family: var(--fonte-primaria);
  font-size: 2vw;
  margin-bottom: 8vh;
}

#local {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mapa {
  width: 100%;
  height: 70vh;
  box-shadow: 0 0 25px var(--cor-text-dark);
  margin-bottom: 50vh;
}

/* !SECTION - SECTION 4 */

/* SECTION - SECTION 5 */
#section5 {
  height: 130vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
  padding-top: 5vh;
}

#ceo {
  color: var(--cor-text-light);
  font-family: var(--fonte-primaria);
  font-size: 2vw;
  padding-left: 1vw;
}

#divCEO {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  margin-bottom: 30vh;
  padding-top: 10vh;
}

.divCEOS {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10vw;
}

#ceo2 {
  flex-direction: row-reverse
}

.divCEOS img {
  width: 25vw;
  border-radius: 1vw;
  box-shadow: 0 0 5vw #1f1f1f;
  z-index: 1;
}

.divTXT {
  width: 25vw;
  margin-top: 5vh;
  font-size: 1.5vw;
  font-family: var(--fonte-primaria);
  font-weight: bold;
  text-align: right;
  z-index: 0;
}

#txtG h2 {
  display: flex;
  justify-content: flex-end;
  background-color: var(--cor-elements-background-coffe);
  width: 26vw;
  border-radius: 0 0.4vw 0.4vw 0;
  padding: 1vh;
  transform: translateX(-10vw);
}

#txtB h2 {
  background-color: var(--cor-elements-background-coffe);
  width: 30vw;
  text-align: justify;
  border-radius: 0.4vw;
  padding: 1vh;
  margin-left: 9vw;
}

/* !SECTION - SECTION 5 */

/* SECTION - SECTION 6 */
#section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 4.5vw 4.5vw;
  height: 120vh;
  gap: 5vw;
  z-index: 1;
  position: sticky;
  top: -40vh;
}

#txtPergunte {
  margin-bottom: 4vh;
  text-align: center;
  color: var(--cor-text-light);
  font-family: var(--fonte-primaria);
  font-size: 3vw;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30vh;
}

.accordion-item {
  width: 60vw;
}

.accordion-header {
  cursor: pointer;
  padding: 1rem;
  background-color: var(--cor-elements-background-dark);
  border-width: 0.2vh 0.1vw 0 0.1vw;
  border-style: solid;
  border-color: var(--cor-elements-background-light);
  color: var(--cor-text-light);
  font-family: var(--fonte-primaria);
  font-size: 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.accordion-header a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.accordion-header a:hover {
  opacity: 0.7;
}

.accordion-header .logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  transition: max-height 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  border-top: none;
  background-color: #3B3F42;
  color: var(--cor-text-light);
  font-family: var(--fonte-primaria);
  font-weight: bold;
}

.accordion-item.open .accordion-content {
  max-height: 200px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-width: 0 0.1vw 0 0.1vw;
  border-style: solid;
  border-color: var(--cor-elements-background-light);
}

#panel4a-content {
  border-width: 0 0.1vw 0.2vh 0.1vw;
}

#checkbox {
  display: none;
}

.arrow {
  cursor: pointer;
  height: 60px;
  right: 1%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transition: transform 0.1s;
  width: 1.5vw;
}

.arrow-top,
.arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-top:after,
.arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.accordion-item:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.accordion-item:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.accordion-item:hover .arrow {
  transform: translateX(-50%) translateY(-50%) scale(0.9) rotate(90deg);
}

/* !SECTION - SECTION 6 */

/* SECTION - Footer */
footer {
  background-color: var(--cor-elements-background-dark);
  color: var(--cor-text-light);
  height: 69vh;
  font-size: 1vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5vh;
  transform: translateY(10vh);
}

footer a {
  color: var(--cor-text-light);
  text-decoration: none;
  cursor: pointer;
}


#conteudoFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#div1 {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

#div1 img {
  width: 8vw;
}

#div1 ul {
  display: flex;
  gap: 0.5vw;
  list-style: none;
  user-select: none;
  align-items: center;
}

#nomeEmpresaFooter {
  font-size: 1vw;
  color: var(--cor-elements-background-light);
}

#div2 {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.subDiv2 {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.subDiv2 img {
  width: 2vw;
}

#div3 {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

#subDiv3 {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

#p1 {
  font-size: 1.3vw;
  font-weight: bolder;
  font-family: var(--fonte-primaria);
}

#p2 {
  font-size: 1vw;
  color: var(--cor-elements-background-light);
  font-family: var(--fonte-primaria);
  width: 20vw;
}

#sub2Div3 {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-family: var(--fonte-primaria);
  font-weight: bolder;
}

#sub2Div3 img {
  width: 2vw;
  border-radius: 0.52vw;
}

#sub2Div3:hover img {
  background-image: linear-gradient(45deg, #D62976, #FA7E1E);
}


#desenvolvedor {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1vw 1vh 0;
  font-family: var(--fonte-primaria);
  gap: 0.5vw;
}

#desenvolvedor img {
  width: 2vw;
}

.link {
  position: relative;
}

.hover-text {
  padding: 0.2vh;
}

.hover-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1vh;
  width: 100%;
  background-color: var(--cor-text-light);
  transform: scaleX(0);
  transition: all 0.2s linear;
}

.hover-text:hover~.hover-underline {
  transform: scaleX(1);
}

/* !SECTION - Footer */