/* ANCHOR - Definições gerais */
* {
  padding: 0;
  margin: 0;
  cursor: auto;
}

:root {
  --cor-halftone: #cccccc;
  --cor-text-dark: #000000;
  --cor-text-light: #ffffff;
  --cor-elements-background-light: #aaaaaa;
  --cor-elements-background-coffe: #633928;
  --cor-elements-background-azul: #23232e;
  --cor-elements-background-dark: #343434;
  --cor-sections-background: #181818;

--brand-color: #ffc400;
  --black: #000000;
  --white: #ffffff;
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
  /* STUB - concertar a box shadowm de todas as divs */
  --fonte-primaria: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* SECTION - TELA DE CARREGAMENTO */
.telaDeCarregamento {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  user-select: none;
}

.container {
  width: 300px;
  height: 280px;
  position: relative;
  top: 6vw;
}

.container img {
  position: relative;
  width: 15%;
  z-index: 2;
  left: 44%;
  top: 69.5%;
}

.coffee-header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddcfcc;
  border-radius: 10px;
}

.coffee-header__buttons {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  background-color: #282323;
  border-radius: 50%;
}

.coffee-header__buttons::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 4px);
  background-color: #615e5e;
}

.coffee-header__button-one {
  left: 15px;
}

.coffee-header__button-two {
  left: 50px;
}

.coffee-header__display {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: 50%;
  background-color: #9acfc5;
  border: 5px solid #43beae;
  box-sizing: border-box;
}

.coffee-header__details {
  width: 8px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #9b9091;
  box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
}

.coffee-medium {
  width: 90%;
  height: 160px;
  position: absolute;
  top: 80px;
  left: calc(50% - 45%);
  background-color: #bcb0af;
}

.coffee-medium:before {
  content: "";
  width: 90%;
  height: 100px;
  background-color: #776f6e;
  position: absolute;
  bottom: 0;
  left: calc(50% - 45%);
  border-radius: 20px 20px 0 0;
}

.coffe-medium__exit {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  background-color: #231f20;
}

.coffe-medium__exit::before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
  background-color: #231f20;
}

.coffe-medium__exit::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 5px);
  background-color: #231f20;
}

.coffee-medium__arm {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 25px;
  background-color: #231f20;
}

.coffee-medium__arm::before {
  content: "";
  width: 15px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #9e9495;
}

.coffee-medium__cup {
  width: 80px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  background-color: #FFF;
  border-radius: 0 0 70px 70px / 0 0 110px 110px;
}

.coffee-medium__cup::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: -13px;
  border: 5px solid #FFF;
  border-radius: 50%;
}

@keyframes liquid {
  0% {
    height: 0;
    opacity: 1;
  }

  5% {
    height: 0;
    opacity: 1;
  }

  20% {
    height: 62px;
    opacity: 1;
  }

  95% {
    height: 62px;
    opacity: 1;
  }

  100% {
    height: 62px;
    opacity: 0;
  }
}

.coffee-medium__liquid {
  width: 6px;
  height: 63px;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: calc(50% - 3px);
  background-color: #74372b;
  animation: liquid 5s 1s linear infinite;
}

.coffee-medium__smoke {
  width: 8px;
  height: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: #b3aeae;
}

@keyframes smokeOne {
  0% {
    bottom: 20px;
    opacity: 0;
  }

  40% {
    bottom: 50px;
    opacity: .5;
  }

  80% {
    bottom: 80px;
    opacity: .3;
  }

  100% {
    bottom: 80px;
    opacity: 0;
  }
}

@keyframes smokeTwo {
  0% {
    bottom: 40px;
    opacity: 0;
  }

  40% {
    bottom: 70px;
    opacity: .5;
  }

  80% {
    bottom: 80px;
    opacity: .3;
  }

  100% {
    bottom: 80px;
    opacity: 0;
  }
}

.coffee-medium__smoke-one {
  opacity: 0;
  bottom: 50px;
  left: 102px;
  animation: smokeOne 2s 2s linear infinite;
}

.coffee-medium__smoke-two {
  opacity: 0;
  bottom: 70px;
  left: 118px;
  animation: smokeTwo 3s 2.5s linear infinite;
}

.coffee-medium__smoke-three {
  opacity: 0;
  bottom: 65px;
  right: 118px;
  animation: smokeTwo 3s 3s linear infinite;
}

.coffee-medium__smoke-for {
  opacity: 0;
  bottom: 50px;
  right: 102px;
  animation: smokeOne 3s 4s linear infinite;
}

.coffee-footer {
  width: 95%;
  height: 15px;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 47.5%);
  background-color: #41bdad;
  border-radius: 10px;
}

.coffee-footer::after {
  content: "";
  width: 106%;
  height: 26px;
  position: absolute;
  bottom: -25px;
  left: -8px;
  background-color: var(--cor-text-dark);
}

.loader {
  background-color: transparent;
  z-index: 0;
  margin-top: 15vw;
}

.loader2 {
  background-color: transparent;
  scale: 4;
  z-index: 0;
  margin-top: 8vh;
}

.c {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.a1 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.4s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.r1 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.6s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.r2 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.8s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.e {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.g {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.a2 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.4s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.n {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.6s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.d {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.8s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.o {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.d1 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 2.2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.d2 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 2.4s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.d3 {
  color: var(--cor-text-dark);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 2.6s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
}

.null {
  color: transparent;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 2.6s;
  letter-spacing: 0.5em;
  user-select: none;
}

@keyframes pass {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*!SECTION - TELA DE CARREGAMENTO */

/* ANCHOR - Definições gerais dos elementos */
a,
img,
svg,
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: #000000;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
}

body {
  color: var(--cor-text-light);
  font-family: var(--fonte-primaria);
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--cor-text-light);
  font-family: var(--fonte-primaria);
}

/* SECTION - HEADER */
header {
  width: 100%;
  height: 5vw;
  background-color: var(--cor-elements-background-azul);
  position: fixed;
  top: 0;
  z-index: 3;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20%;
}

nav .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.1vw;
  width: 22vw;
}

nav img {
  width: 15%;
}

#paginas {
  display: flex;
  gap: 20%;
  font-size: 1.3vw;
}

#inicio {
  border-bottom: 1px solid var(--cor-text-light);
}

/* !SECTION - HEADER */

/* SECTION - MAIN */
main {
  position: relative;
  flex-direction: column;
}

section {
  background-color: var(--cor-sections-background);
  position: relative;
}

.imagemPrincipal {
  width: 100%;
  background: linear-gradient(180deg, #23232E 0%, #764027 100%);
  object-fit: cover;
  position: sticky;
  top: 0;
  margin-top: 5%;
  z-index: 0;
}

/* SECTION - SECTION 1 */
#section1 {
  border-radius: 6% 6% 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14vh;
  margin-top: -14%;
  padding-top: 2%;
}

#divSloganEmpresa {
  background-color: #764027;
  border-radius: 1vh;
  font-size: 1.9vw;
  font-family: var(--fonte-primaria);
  padding: 1vw;
  color: var(--cor-text-light);
  position: relative;
}

#divSection2 {
  display: flex;
  gap: 8vh;
  flex-direction: column;
}

#divequipe {
  /* NOTE - Texto e foto da equipe */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6vw;
}

#palavraBiblica {
  width: 40vw;
}

#txtEquipe {
  display: flex;
  font-size: 3vw;
  font-family: var(--fonte-primaria);
  justify-content: flex-start;
  width: 45vw;
}

#referencia {
  display: flex;
  justify-content: flex-end;
  font-family: var(--fonte-primaria);
  width: 39vw;
  font-size: 1.5vw;
}

#imagemPolaroid {
  background: var(--cor-text-light);
  padding: 1vw 1vw 2vw;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .5s linear;
  box-shadow: 0 0 34px #2B2A28;
}

#imagemPolaroid:hover {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  transform: scale(1.08);
}

#rodapePolaroid {
  color: var(--cor-text-dark);
  font-size: 1.55vw;
  position: relative;
  top: 0.5vw;
  user-select: none;
  font-family: var(--fonte-primaria);
}


#imagemEquipe {
  cursor: pointer;
  width: 35vw;
  border-radius: 2%;
}

#divVMO {
  display: flex;
  gap: 4vh;
  justify-content: space-evenly;
}

.vmo {
  /* NOTE - class VMO = São as div Valores, missão, objetivos */
  width: 25vw;
  height: 20vh;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 0.5vw;
  align-items: center;
  background-color: var(--cor-elements-background-coffe);
  margin-bottom: 30vh;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  font-weight: bold;
}

.vmo:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--cor-text-dark);
}

.tablep {
  font-size: 1.5vw;
  font-family: var(--fonte-secundaria);
  font-weight: bold;
}

/* !SECTION - SECTION 1 */

/* SECTION - SECTION 2 */
#section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50vh;
  color: var(--cor-text-light);
  background: #ffffff54;
  backdrop-filter: blur(1vh);
  -webkit-backdrop-filter: blur(1vh);
}
/* !SECTION - SECTION 2 */

/* SECTION - SECTION 3 */
#section3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 90vh;
  gap: 5vw;
  color: var(--cor-text-light);
  padding-top: 11.9vh;
}

.parteSuperiorSection3 {
  display: flex;
  justify-content: center;
}

#atividadesSection3 {
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  margin-right: 5vw;
  font-family: var(--fonte-primaria);
}

#atividadesTotais {
  font-size: 1.3vw;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-family: var(--fonte-secundaria);
  gap: 7vw;
}

.blocoDeAtividades {
  display: flex;
  gap: 3vw;
}

.atividades {
  display: flex;
  gap: 1vw;
  align-items: center;
  width: 14.1vw;
  font-family: var(--fonte-primaria);
  font-weight: bold;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 17vw);
  grid-gap: 2vw;
  justify-content: center;
  margin-bottom: 30vh;
}

.grid-item {
  border: 0.1vw solid var(--cor-halftone);
  overflow: hidden;
  width: 17vw;
  /* height: 30vh; */
  border-radius: 0.5vw;
}

.imagens {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1vw;
  border-color: var(--cor-text-dark);
}

/* !SECTION - SECTION 3 */

/* SECTION - SECTION 4 */
#section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.titulo {
  text-align: center;
  color: var(--cor-text-light);
  font-family: var(--fonte-primaria);
  font-size: 2vw;
  margin-bottom: 8vh;
}

#local {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mapa {
  width: 100%;
  height: 70vh;
  box-shadow: 0 0 25px var(--cor-text-dark);
}

/* !SECTION - SECTION 4 */

/* ANCHOR - Exceção */
#ceo {
  color: var(--cor-text-light);
  font-family: var(--fonte-primaria);
  font-size: 2vw;
  padding-left: 1vw;
  background: transparent;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 150px;
}

/* SECTION - SECTION 5 */
#section5 {
  height: 40vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card__content h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
}

.card__content p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

.flow>*+* {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.card {
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem #00000040;
}

.card>* {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(180deg, #00000000 0%, #0000004d 10%, #000000 100%);
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--cor-elements-background-coffe);
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content;
  /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--cor-elements-background-coffe);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container> :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container> :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container> :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}
/* !SECTION - SECTION 5 */

/* SECTION - SECTION 6 */
#section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  z-index: 1;
  position: relative;
  padding: 5vw 12vw 5vw 12vw;
}

#txtPergunte{
  font-family: var(--fonte-primaria);
  font-size: 2vw;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* NOTE - Layout */
.row {
  display: flex;
}

.row .col {
  flex: 1;
}


/* NOTE - Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #23232E;
  font-weight: bold;
  cursor: pointer;
}

.tab-label:hover {
  background: var(--cor-elements-background-coffe);
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: var(--cor-text-dark);
  background: var(--cor-text-light);
  transition: all .35s;
}

/* NOTE - :checked */
.tab input:checked+.tab-label {
  background: var(--cor-elements-background-coffe);
}

.tab input:checked+.tab-label::after {
  transform: rotate(90deg);
}

.tab input:checked~.tab-content {
  max-height: 100vh;
  padding: 1em;
}
/* !SECTION - SECTION 6 */
/* !SECTION - MAIN */

/* SECTION - FOOTER */
footer {
  background-color: var(--cor-elements-background-dark);
  color: var(--cor-text-light);
  font-size: 1vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5vh;
}

footer a {
  color: var(--cor-text-light);
  text-decoration: none;
  cursor: pointer;
}

#conteudoFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2%;
}

#div1 {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

#div1 img {
  width: 8vw;
}

#div1 ul {
  display: flex;
  gap: 0.5vw;
  list-style: none;
  user-select: none;
  align-items: center;
}

#nomeEmpresaFooter {
  font-size: 1vw;
  color: var(--cor-elements-background-light);
}

#div2 {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.subDiv2 {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.subDiv2 img {
  width: 2vw;
}

#div3 {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

#subDiv3 {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

#p1 {
  font-size: 1.3vw;
  font-weight: bolder;
  font-family: var(--fonte-primaria);
}

#p2 {
  font-size: 1vw;
  color: var(--cor-elements-background-light);
  font-family: var(--fonte-primaria);
  width: 20vw;
}

#sub2Div3 {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-family: var(--fonte-primaria);
  font-weight: bolder;
}

#sub2Div3 img {
  width: 2vw;
  border-radius: 0.52vw;
}

#sub2Div3:hover img {
  background-image: linear-gradient(45deg, #D62976, #FA7E1E);
}

#desenvolvedor {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1vw 1vh 0;
  font-family: var(--fonte-primaria);
  gap: 0.5vw;
}

#desenvolvedor img {
  width: 2vw;
}

.link {
  position: relative;
}

.hover-text {
  padding: 0.2vh;
}

.hover-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1vh;
  width: 100%;
  background-color: var(--cor-text-light);
  transform: scaleX(0);
  transition: all 0.2s linear;
}

.hover-text:hover~.hover-underline {
  transform: scaleX(1);
}

/* !SECTION - FOOTER */