:root{
    --cor-background: #cccccc;
    --cor-texto: white;
    --cor-hover: ;
    --cor-border: #aaaaaa;
    --cor-destaque: #ea3b64;
  
    --fonte-primaria: "Times New Roman", Times, serif;
    --fonte-secundaria: ;
    --cor-calcada: #59564d;
    -red:#eb2251;
    --green:#10cd71;
}
*{
    margin: 0;
    padding: 0;
}

div{
    background-color: #252525;
    width: 50%; /* Defina a largura da div */
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5vh;
    border-radius: 2vh;
    width: 40%;
    color: white;
}
p{
   width: 100%; 
   background-color: #252525;
}
*{
    background-color: #181818;
}
nav{
    position: fixed;
    z-index: 1;
    right: 30px;
    top: 20px;
    font-size: 2vw;
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 1);
    border-radius: 10px;
    
}
nav a{
    background-color: white;
    border-radius: 2px;
    color: black;
    text-decoration: none;
}
a:hover {
    background-color: var(--cor-destaque);
  }

h1{
    font-size: 5vh;
    color: white;
    text-align: center;
    margin-top: 5vh;
}