*{
  padding: 0px;
  margin: 0px;
}
:root{
  --cor-background: #cccccc;
  --cor-texto: white;
  --cor-border: #aaaaaa;
  --cor-destaque: #ea3b64;
  --fonte-primaria: "Times New Roman", Times, serif;
  --cor-calcada: #59564d;
  -red:#eb2251;
  --green:#10cd71;
}

@media screen and (max-width: 767px) {

  #tableCEO td{
    font-size: 20px !important;
  }
  #tableCEO img{
    width: 140% !important;
  }
  .tablep{
    font-size: 185% !important;
  }
  #divSloganEmpresa h4{
    font-size: 15px !important;
  }
  #divSloganEmpresa{
    height: 10% !important;
  }
}

/* SECTION - Introdução da Página */
#section1 {
  background-color: var(--cor-background);
  position: relative;
  width: 100%;
}

#divSloganEmpresa{
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 2%;
  background-color: var(--cor-border);
  width: 48%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#divSloganEmpresa h4{
  font-size: 1vw;
}

#nav{
  position: fixed;
  z-index: 1;
  right: 4vh;
  top: 1vw;
}

#menu{
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--cor-destaque);
  padding: 1vh 27px 1vh 27px;
  border-radius: 4px;
  display: inline-block;
  user-select: none;
  width: auto;
  margin: 0px 0px 0px 0px;
}

#menu:hover{
  background-color: #343434;
  color: white;
}


#ulMenu{
  background-color: #252525;
  z-index: 2;
}

.listaMenu{
  list-style: none;
  display: flex;
  justify-content: center;
  transition: all 0.4s;
  width: 102.89px;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  align-content: center;
  margin-top: 5px;
  align-items: center;
}

.listaMenu:hover{
  font-size: 19px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  background-color: var(--cor-border);
}

.listaMenu:hover > a{
  color: var(--cor-destaque);
}

.listaMenu:hover > a:hover{
  color: var(--cor-destaque);
}

a{
  text-decoration: none;
  color: var(--cor-background);
  margin: 4px 0 4px 0;
}

#imagemPrincipal {
  position: absolute;
  width: 100%;
  height: 100%;
}

#divNomeEmpresa {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  background: rgba(255, 255, 255, 0.27);
  border-radius: 10px;
  backdrop-filter: blur(8px);
  width: 40vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nomeEmpresa {
  font-size: 4vw;
  color: rgb(0, 0, 0);
}

#slogan {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}
/* !SECTION - Introdução da Página */

/* SECTION - Definições gerais nas SECTIONS */
section{
  background-color:  #181818;
  width: 100%;
  height: 110vh;
  font-family: var(--fonte-primaria);
}

p{
  color: white;
}

h2{
  color: white;
}

td{
  text-align: center;
  border-bottom: 1px solid var(--cor-border);
  font-size: 22px;
}
/* !SECTION - Definições gerais nas SECTIONS */

/* SECTION - SECTION 2 */
#section2{
  display: flex;
  align-items: center;
  justify-content: center;
}

#divSection2{
  display: flex;
  gap: 7vh;
  flex-direction: column;
}

#equipe{ /* NOTE - Texto e foto da equipe */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6vw;
}

#palavraBiblica{
  width: 40vw;
}

#txtEquipe{
  display: flex;
  font-size: 3vw;
  font-family: var(--fonte-primaria);
  justify-content: flex-start;
  width: 45vw;
}

#referencia{
  display: flex;
  justify-content: flex-end;
  font-family: var(--fonte-primaria);
  width: 39vw;
}

#imagemPolaroid {
  background: #ffffff;
  padding: 1vw 1vw 2vw;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}


#rodapePolaroid {
  color: #333;
  font-size: 1.55vw;
  position: relative;
  top: 0.5vw;
  user-select: none;
}

#imagemPolaroid:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

#imagemEquipe{
  width: 35vw;
  border-radius: 2%;
}

#divVMO{
  display: flex;
  gap: 4vh;
  justify-content: space-evenly;
}

.vmo { /* NOTE - class VMO = São as div Valores, missão, objetivos */
  width: 25vw;
  height: 20vh;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 0.5vw;
  align-items: center;
  background-color: #343434;
  margin-bottom: 10vh;
  font-size: 1.5vw;
}
/* !SECTION - SECTION 2 */

/* SECTION - SECTION 3 */
#section3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5vw;
}

.parteSuperiorSection3{
  display: flex;
  justify-content: center;
}

#atividiadesSection3{
  font-size: 1.7vw;
  display: flex;
  align-items: flex-start;
  margin-right: 5vw;
}

#tableAtividades{
  color: white;
  width: 90%;
  height: 60%;
}

#tableAtividades tr{
  display: flex;
  gap: 5vw;
}

#tableAtividades td {
  text-align: center;
  border-bottom: 0px;
  width: 15vw;
}

#tableAtividades .divAtividades {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7vh;
}

#tableAtividades .divAtividades .elipse {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: var(--cor-destaque);
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: var(--cor-destaque);
}


#tableAtividades .divAtividades p:last-of-type {
  margin-top: 5px;
}

.elipse{
  background-color: var(--cor-destaque);
  color: var(--cor-destaque);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}

.atv{ /* NOTE - class ATV = São as div Atividades */
  width: 17%;
  padding: 3%;
  float: left;
  box-sizing: border-box;
  margin-right: 1%;
  margin-left: 6%;
  height: 20vh;
  align-content: center;
  padding: 0px;
  border-radius: 20px;
}

.fotos{
  width:100%
}
/* !SECTION - SECTION 3 */

/* SECTION - SECTION 4 */
#section4{
  display: flex;
  justify-content: center;
  align-items: center;
}

#table1{
  background-color: #ffffff;
  border-radius: 20px;
  width: 80%;
  height: 60%;
  border-bottom: 2px solid var(--cor-destaque);
  transform: translate(0, -10vh);
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.5);
}

#table1 h2{
  color: black;
  text-align: center;
  font-size: 190%;
  border-bottom: 2px solid var(--cor-destaque);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
#table1 td{
  font-size: 140%;
}
#table1 table{
  width: 97%;
  height: 85%;
  border-radius: 20px;
  margin-top: 1vh;
  margin-left: 15px;
}
/* !SECTION - SECTION 4 */

/* SECTION - SECTION 5 */
.titulo{
  display: flex;
  justify-content: center;
  font-size: 2vw;
  margin-bottom: 3vh;
}

#formulario{
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

#menuContato{
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--cor-destaque);
  padding: 1vh 27px 1vh 27px;
  border-radius: 4px;
  display: inline-block;
  user-select: none;
  width: auto;
  margin: 0px 0px 0px 0px;
}

#menu:hover{
  background-color: #343434;
  color: white;
}


#ulContato{
  background-color: #252525;
  z-index: 2;
  list-style: none;
  padding: 10vw;
}

#ulContato li{
  margin-bottom: 2vh;
}

#ulContato label{
  color: white;
  font-size: 1.5vw;
  margin-right: 1vw;
}

.listaMenu{
  list-style: none;
  display: flex;
  justify-content: center;
  transition: all 0.4s;
  width: 102.89px;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  align-content: center;
  margin-top: 5px;
  align-items: center;
}


.mapa{
  width: 80%;
  height: 70vh;
  border-radius: 10px;
}

#local{
  text-align: center;
}
/* !SECTION - SECTION 5 */

/* SECTION - SECTION 6 */
/* !SECTION - SECTION 6 */

/* SECTION - SECTION 7 */
#section7{
  height: 22%;
}
#ceo{
  text-align: center;
  color: white;
}
#tableCEO{
  background-color: white;
  color: white;
  width: 75%;
  margin: 0 auto;
  background-color: transparent; 
  color: rgb(255, 255, 255);
  border-spacing: 50px;
  border-radius: 10px;
}
#tableCEO img{
  border-radius: 5px;
  width: 90%;
}
#tableCEO td{
  border-bottom: 0px;
  font-size: 2vw;
}
#tableDescription1{
  position: relative;
}
#tableDescription2{
  position: relative;
}
/* !SECTION - SECTION 7 */

/* SECTION - SECTION 8 */
#txtPergunte{
  color: white;
  font-size: 5vh;
  text-align: center;
  margin-bottom: 4vh;
}
.perguntasFrequentes{
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 64%;
}
/* !SECTION - SECTION 8 */